[Desktop Entry]
Name=SSH Indicator
Comment=List your SSH servers
Categories=GNOME;Utility;
Exec=/usr/bin/ssh-indicator
Icon=ssh-indicator
Terminal=false
Type=Application
